html {
    scroll-behavior: smooth; /*Vai suavizar a rolagem*/
}

body{ /*Seletores*/
    background-color: rgb(15, 139, 180);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transition: 0.5s; /*Para quando tiver mudando de modo*/
}
nav{
    background-color: white;
    padding: 10px ; /*Adiociona o espaço dentro do elemento*/
}

nav ul{
    list-style-type: none; /*Tira os marcadores de lista*/
    margin: 0; /*Adiociona o espaço fora do elemento*/
    padding: 0;
    display: flex; /* Transforma a lista em container flex */
    justify-content: center; /* Os elementos da lista vão ficar alinhados horizontalmente*/
}

nav li:first-child{ /*Apenas o primeiro item da lista não ordenada vai ter essas configurações*/
    margin-right: auto;
    font-size: 15px;
}

nav li{
    margin: 0 1px; /*Superior e Inferior = 0  e Direita e Esquerda = 5px*/
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 10px;
    padding: 5px 5px;
    border-radius: 4px; /*Faz o arredondamento dos cantos*/
    transition: background-color 0.3s;
}

nav a:hover{ /*Ativa a propriedade dada a ela quando passar o cursor do mouse*/
    background-color: lightgrey;
}

img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 15%;
    height: 15%;
    transform: scale(1);/*Setando a escola*/
    transition: transform 0.5s linear; /*Como ocorre a animação*/
}

img:hover{
    transform: scale(1.2);
}

h1{
    font-size: 25px;
}

h2{
    font-size: 20px;
}

h3{
    display: flex;
    justify-content: left;
    font-size: 16px;
}

p{ 
    display: flex;
    justify-content: left;
    text-align: justify; /*Deixa o texto justificado*/
    font-size: 14px;
}

ul{
    text-align: left; /*Alinhou o texto a direita*/
}

li {
    display: list-item; /*Garante que cada li fique em sua própria linha */
    font-size: 14px;
}

footer{
    background-color: white;
    padding: 20px ; /*Adiociona o espaço dentro do elemento*/
}

footer p{
    justify-content: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}

footer ul{
    list-style-type: none;
    margin: 0; 
    padding: 0;
    display: flex; 
    justify-content:center; 
}

footer li{
    margin: 0 1px; /*Superior e Inferior = 0  e Direita e Esquerda = 5px*/
    justify-content:first baseline; 
}

footer a{
    color: black;
    text-decoration: none;
    font-size: 10px;
    padding: 5px 5px;
    border-radius: 4px; /*Faz o arredondamento dos cantos*/
    transition: background-color 0.3s;
}
footer img {
    width: 20px; 
    height: 20px; 
    display: inline-block; /* Permite que a imagem fique ao lado do texto */
    vertical-align: middle; /*Alinha a imagem verticalmente com o texto */
    margin-right: 2px; /*Espaçamento da imagem em relação ao texto qeu está a direita*/
}

footer a:hover{ /*Ativa a propriedade dada a ela quando passar o cursor do mouse*/
    background-color: darkgrey;
}

button{
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white; /*Cor da letra*/
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(34, 34, 34);
    transform: translateY(-2px); /*Movimentação do botão*/
}

button:active {
    transform: translateY(0);
}

/*Configurações da Div do modo dark e modo light*/
.trilho{
    width: 32px;
    height: 18px;
    background-color: lightgrey;
    border-radius: 10px;
    cursor: pointer;
}

.trilho .indicador{
    width: 18px;
    height: 18px; 
    background-color: grey;
    border-radius: 50px;
    transform: scale(0.9); /*Vai deixar o indicador menor tendo um borda em relação ao trilho*/
    position: relative;
    left: 0; /*Posiçaõ base do indicador*/
    transition: .5s; /*Tempo de movimentação do indicador*/
}

.trilho.dark{
    background-color: grey;
}
.trilho.dark .indicador{
    left: 14px; /*Deslocamento do indicador*/
    background-color: black;
}

body.dark{
    background-color: black;
}

body.dark h1{
    color: lightgrey;
}

body.dark h2{
    color: lightgrey;
}

body.dark h3{
    color: lightgrey;
}

body.dark p{
    color: lightgrey;
}

body.dark li{
    color: lightgrey;
}

nav.dark{
    background-color: rgb(105, 105, 105);
}

nav.dark li{
    color: white;
}

nav.dark a{
    color: white;
}

nav.dark a:hover{ /*Ativa a propriedade dada a ela quando passar o cursor do mouse*/
    background-color: grey;
}

footer.dark {
    background-color: rgb(105, 105, 105);
}
footer.dark a{
    color: white;
}

footer.dark a:hover{ /*Ativa a propriedade dada a ela quando passar o cursor do mouse*/
    background-color: grey;
}

button.dark {
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: white;
    color: black; /*Cor da letra*/
    border-radius: 20px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

button.dark:hover{
    background-color: lightgray;
    transform: translateY(-2px); /*Movimentação do botão*/
}