html {
    scroll-behavior: smooth; /*Vai suavizar a rolagem*/
}

body{ /*Seletores*/
    background-color: rgb(15, 139, 180);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
nav{
    background-color: white;
    padding: 10px ; /*Adiociona o espaço dentro do elemento*/
}

nav ul{
    list-style-type: none; /*Tira os marcadores de lista*/
    margin: 0; /*Adiociona o espaço fora do elemento*/
    padding: 0;
    display: flex; /* Transforma a lista em container flex */
    justify-content: center; /* Os elementos da lista vão ficar alinhados horizontalmente*/
}

nav li:first-child{ /*Apenas o primeiro item da lista não ordenada vai ter essas configurações*/
    margin-right: auto;
    font-size: 15px;
}

nav li{
    margin: 0 1px; /*Superior e Inferior = 0  e Direita e Esquerda = 5px*/
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 10px;
    padding: 5px 5px;
    border-radius: 4px; /*Faz o arredondamento dos cantos*/
    transition: background-color 0.3s;
}

nav a:hover{ /*Ativa a propriedade dada a ela quando passar o cursor do mouse*/
    background-color: lightgrey;
}

img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 15%;
    height: 15%;
}

h1{
    font-size: 25px;
}

h2{
    font-size: 20px;
}

h3{
    display: flex;
    justify-content: left;
    font-size: 16px;
}

p{ 
    display: flex;
    justify-content: left;
    text-align: justify; /*Deixa o texto justificado*/
    font-size: 14px;
}

ul{
    text-align: left; /*Alinhou o texto a direita*/
}

li {
    display: list-item; /*Garante que cada li fique em sua própria linha */
    font-size: 14px;
}

footer{
    background-color: white;
    padding: 20px ; /*Adiociona o espaço dentro do elemento*/
}

footer p{
    justify-content: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}

footer ul{
    list-style-type: none;
    margin: 0; 
    padding: 0;
    display: flex; 
    justify-content:center; 
}

footer li{
    margin: 0 1px; /*Superior e Inferior = 0  e Direita e Esquerda = 5px*/
    justify-content:first baseline; 
}

footer a{
    color: black;
    text-decoration: none;
    font-size: 10px;
    padding: 5px 5px;
    border-radius: 4px; /*Faz o arredondamento dos cantos*/
    transition: background-color 0.3s;
}
footer img {
    width: 20px; 
    height: 20px; 
    display: inline-block; /* Permite que a imagem fique ao lado do texto */
    vertical-align: middle; /*Alinha a imagem verticalmente com o texto */
    margin-right: 2px; /*Espaçamento da imagem em relação ao texto qeu está a direita*/
}

footer a:hover{ /*Ativa a propriedade dada a ela quando passar o cursor do mouse*/
    background-color: darkgrey;
}

button{
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: white;
    color: black; /*Cor da letra*/
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

button:hover{
    background-color: lightgray;
    transform: translateY(-2px); /*Movimentação do botão*/
}

button:active {
    transform: translateY(0);
}